
table {
    font-size:12px;
}

html {
    font-size:12px;
}

#topbar {
}

#srvtable {
}

#srvtable td {
    margin: 5px 5px 5px 5px;
    padding:10px 10px 10px 10px;
    background-color:#eeeeee;
}
#srvtable a {
    margin: 4px 2px 2px 2px;
}


#browser {
    width:200px;
    border-color: #eeeeee;
    border-style: solid; 
    border-width: 3px;
    float:left;
    margin : 10px 15px 15px 5px;
}

#content {
    float:left;
}

#console  #display{
    width:500px;
    height:500px;
    border-style:solid;
    border-width:1px;
    background-color:#eeeeee;
    margin:10px 10px 10px 10px;
    padding:10px 10px 10px 10px;
}

#console #command {
    width:500px;
    margin:10px 10px 10px 10px;
}
